name: Build APK

on:
  push:
    branches: [ "master" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > smsalarm.keystore

      # - name: Debug secrets
      #   run: |
      #     echo "KEYSTORE_PASSWORD length: ${#KEYSTORE_PASSWORD}"
      #     echo "KEY_ALIAS length: ${#KEY_ALIAS}"
      #     echo "KEY_PASSWORD length: ${#KEY_PASSWORD}"
          
      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/build/outputs/apk/release/*.apk

      - name: Publish GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: app/build/outputs/apk/release/*.apk

      # - name: Verify APK signature
      #   run: |
      #     BUILD_TOOLS=$(ls $ANDROID_HOME/build-tools | sort -V | tail -n 1)
      #     $ANDROID_HOME/build-tools/$BUILD_TOOLS/apksigner verify --verbose app/build/outputs/apk/release/app-release.apk
